<h2 class="baskerville f1 measure tc fw5 ph3 ph0-l">Application</h2>

<div class="mw8 center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-25-ns pa2">
      <article class="ba dark-gray b--black-10" >
        <div class="pa2 ph3-ns pb3-ns">
          <div class="dt w-100 mt1">
            <div class="dtc">
              <h1 class="f5 f4-ns mv0">Roman Power</h1>
              <!-- link to trip page -->
            </div>
          </div>

          <div class="dt w-100 mt2">
            <div class="dtc">
              <h2 class="f6 f5-ns mv0">Single Occupancy USD1,000</h2>
            </div>
          </div>
          <p class="f6 lh-copy measure mt2 mid-gray">
            location / dates / teacher
          </p>
          <!-- link to paypal button -->
         <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="6RNT8A4HBBJRE">
            <input type="image"
              src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypalcheckout-44px.png" alt="Buy Now" width="80%">
            <img alt="" src="https://paypalobjects.com/en_US/i/scr/pixel.gif"
              width="1" height="1">
          </form>
        </div>
      </article>
    </div>

    <div class="fl w-100 w-25-ns pa2">
      <article class="ba dark-gray b--black-10" >
        <div class="pa2 ph3-ns pb3-ns">
          <div class="dt w-100 mt1">
            <div class="dtc">
              <h1 class="f5 f4-ns mv0">Roman Power</h1>
              <!-- link to trip page -->
            </div>
          </div>

          <div class="dt w-100 mt2">
            <div class="dtc">
              <h2 class="f6 f5-ns mv0">Single Occupancy: USD1,000</h2>
            </div>
          </div>
          <p class="f6 lh-copy measure mt2 mid-gray">
            location / dates / teacher
          </p>
        </div>
      </article>
    </div>

  <div class="fl w-100 w-25-ns pa2">
      <article class="ba dark-gray b--black-10" >
        <div class="pa2 ph3-ns pb3-ns">
          <div class="dt w-100 mt1">
            <div class="dtc">
              <h1 class="f5 f4-ns mv0">Roman Power</h1>
              <!-- link to trip page -->
            </div>
          </div>

          <div class="dt w-100 mt2">
            <div class="dtc">
              <h2 class="f6 f5-ns mv0">Single Occupancy: USD1,000</h2>
            </div>
          </div>
          <p class="f6 lh-copy measure mt2 mid-gray">
            location / dates / teacher
          </p>
        </div>
      </article>
    </div>
    <div class="fl w-100 w-25-ns pa2">
      <article class="ba dark-gray b--black-10" >
        <div class="pa2 ph3-ns pb3-ns">
          <div class="dt w-100 mt1">
            <div class="dtc">
              <h1 class="f5 f4-ns mv0">Roman Power</h1>
              <!-- link to trip page -->
            </div>
          </div>

          <div class="dt w-100 mt2">
            <div class="dtc">
              <h2 class="f6 f5-ns mv0">Single Occupancy: USD1,000</h2>
            </div>
          </div>
          <p class="f6 lh-copy measure mt2 mid-gray">
            location / dates / teacher
          </p>
        </div>
      </article>
    </div>
  </div>
</div>