<main class="pa4 black-80">
  <form class="measure center">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">Contact</legend>

      <div class="mt3">
        <label class="db fw6 lh-copy f6" for="email-address">Name</label>
        <input class="b pa2 input-reset ba bg-transparent w-100" type="text" name="email-address"  id="email-address" required>
      </div>

      <div class="mt3">
        <label class="db fw6 lh-copy f6" for="email-address">Email</label>
        <input class="b pa2 input-reset ba bg-transparent w-100" type="email" name="email-address"  id="email-address" required>
      </div>

      <div class="mv3">
        <label for="comment" class="f6 b db mb2">Comments <span class="normal black-60"></span></label>
        <textarea id="comment" name="comment" class="b pa2 input-reset ba bg-transparent w-100" aria-describedby="comment-desc" required></textarea>
      </div>

    <div class="">
      <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Submit">
    </div>
       </fieldset>
  </form>
</main>