<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Philomobile</title>
	<script src="/javascripts/script.js"></script>
	<link rel="stylesheet" href="/stylesheets/tachyons.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
	<body class="bg-off-white">
	<header class="pv2 mb4 avenir f6 tracked">
		<nav class="cf tc mw8 center mt4 ">
			<a class="black f6 f5-l link bg-animate  hover-bg-near-white dib pa3 ph4-l" href="/">Home</a>
			<a class="black f6 f5-l link bg-animate  hover-bg-near-white dib pa3 ph4-l" href="/trips">Trips</a>
			<a class="black f6 f5-l link bg-animate  hover-bg-near-white dib pa3 ph4-l" href="/schedule">Schedule</a>
			<a class="black f6 f5-l link bg-animate  hover-bg-near-white dib pa3 ph4-l" href="/teachers">Teachers</a>
			<a class="black f6 f5-l link bg-animate  hover-bg-near-white dib pa3 ph4-l" href="/contact">Contact</a>
			<a class="black f6 f5-l link bg-animate  hover-bg-near-white dib pa3 ph4-l" href="/subscribe">Subscribe</a>
			<a class="grow black f6 f5-l link bg-animate hover-bg-green hover-white  dib pa3 ph4-l ba b--dotted" href="http://philomobile.bigcartel.com/">Apply</a>
		</nav>
	</header>
    {{{body}}}
  </body>
</html>
