<section class="mw7 center avenir">
  <h2 class="baskerville f1 measure tc fw5 ph3 ph0-l">Lecturers</h2>

  {{#each teachers as |t|}}
    <article class="w100 bg-white br3 pa3 pa4-ns ma3 ba b--black-10">
      <div class="tc">
        <img src="{{t.picture}}" class="br2 h4 w4 dib">
        <h1 class="f4">{{t.name}}</h1>
        <hr class="mw3 bb bw1 b--black-10">
      </div>
      <p class="lh-copy measure center f6 black-70">
      {{t.description}}
      </p>
    </article>
  {{/each}}
</section>