<div class="pa4">
  <div class="overflow-auto">
    <table class="f6 w-100 mw8 center" cellspacing="0">
      <thead>
        <tr>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Dates</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Trip</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Destination</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Price</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Deadline</th>
          <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white">Teacher</th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        <tr>
          <td class="pv3 pr3 bb b--black-20">May 1st 2017 - May 5th 2017</td>
          <td class="pv3 pr3 bb b--black-20"><a class="link black" href="http://mrmrs.io/writing">The Origins of Greek Philosophy</a></td>
          <td class="pv3 pr3 bb b--black-20">Greece</td>
          <td class="pv3 pr3 bb b--black-20">USD 1,000</td>
          <td class="pv3 pr3 bb b--black-20">April 2nd 2017</td>
          <td class="pv3 pr3 bb b--black-20">Yunus Tuncel Ph.d</td>
        </tr>
        <tr>
          <td class="pv3 pr3 bb b--black-20">May 1st 2017 - May 5th 2017</td>
          <td class="pv3 pr3 bb b--black-20">The Origins of Greek Philosophy</td>
          <td class="pv3 pr3 bb b--black-20">Greece</td>
          <td class="pv3 pr3 bb b--black-20">USD 1,000</td>
          <td class="pv3 pr3 bb b--black-20">April 2nd 2017</td>
          <td class="pv3 pr3 bb b--black-20">Yunus Tuncel Ph.d</td>
        </tr>
        <tr>
          <td class="pv3 pr3 bb b--black-20">May 1st 2017 - May 5th 2017</td>
          <td class="pv3 pr3 bb b--black-20">The Origins of Greek Philosophy</td>
          <td class="pv3 pr3 bb b--black-20">Greece</td>
          <td class="pv3 pr3 bb b--black-20">USD 1,000</td>
          <td class="pv3 pr3 bb b--black-20">April 2nd 2017</td>
          <td class="pv3 pr3 bb b--black-20">Yunus Tuncel Ph.d</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
