<section class="mw7 center avenir">
  <h2 class="baskerville f1 measure tc fw5 ph3 ph0-l">Teachers</h2>

  <article class="w100 bg-white br3 pa3 pa4-ns ma3 ba b--black-10">
    <div class="tc">
      <img src="http://tachyons.io/img/avatar_1.jpg" class="br2 h4 w4 dib">
      <h1 class="f4">Charles Oliver, Ph.d</h1>
      <hr class="mw3 bb bw1 b--black-10">
    </div>

    <p class="lh-copy measure center f6 black-70">
    Charles Oliver teaches ancient philosophy, ethics, and aesthetics at Pace University, New York. Specializes in the history of philosophy and social and political thought. Current research focuses on Plato and the poets, the link between the new science and changes in ethical theory in early modern philosophy, and Cezanne. He is currently lead teacher of our Philotrip: The Origins of Greek Philosophy
    </p>
  </article>

    <article class="w100 bg-white br3 pa3 pa4-ns ma3 ba b--black-10">
    <div class="tc">
      <img src="http://tachyons.io/img/avatar_1.jpg" class="br2 h4 w4 dib">
      <h1 class="f4">Charles Oliver, Ph.d</h1>
      <hr class="mw3 bb bw1 b--black-10">
    </div>

    <p class="lh-copy measure center f6 black-70">
    Charles Oliver teaches ancient philosophy, ethics, and aesthetics at Pace University, New York. Specializes in the history of philosophy and social and political thought. Current research focuses on Plato and the poets, the link between the new science and changes in ethical theory in early modern philosophy, and Cezanne. He is currently lead teacher of our Philotrip: The Origins of Greek Philosophy
    </p>
  </article>

    <article class="w100 bg-white br3 pa3 pa4-ns ma3 ba b--black-10">
    <div class="tc">
      <img src="http://tachyons.io/img/avatar_1.jpg" class="br2 h4 w4 dib">
      <h1 class="f4">Charles Oliver, Ph.d</h1>
      <hr class="mw3 bb bw1 b--black-10">
    </div>

    <p class="lh-copy measure center f6 black-70">
    Charles Oliver teaches ancient philosophy, ethics, and aesthetics at Pace University, New York. Specializes in the history of philosophy and social and political thought. Current research focuses on Plato and the poets, the link between the new science and changes in ethical theory in early modern philosophy, and Cezanne. He is currently lead teacher of our Philotrip: The Origins of Greek Philosophy
    </p>
  </article>

</section>