.bg-gradient {
	background-image: -webkit-linear-gradient(bottom, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
	background-image: -o-linear-gradient(bottom, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
	background-image: linear-gradient(to top, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
	background-attachment: fixed
}

.bg-opac {
	background: rgba(255, 255, 255, 0.75);
}

iframe {
	margin: 0;
	padding: 0;
	border: none;
}